.idea
.DS_Store
composer.phar
clover.xml
phpunit.xml
.phpunit.cache
vendor/
.php-cs-fixer.cache
coverage/
config/*.develop
tests/data/log
.env
docker-compose.override.yml

# Yarn
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
