<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">packages/*/src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="UnitTests">
      <directory>packages/**/tests</directory>
    </testsuite>
    <testsuite name="Features">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="MEMCACHED_SERVER" value="memcached://framework-memcached:11211"/>
    <env name="REDIS_SERVER" value="redis://redis@framework-redis:6379"/>
  </php>
</phpunit>
